.mainBox {
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 44px;
  height: 100%;
}
.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6c717b;
  margin-top: 8px;
}
.form {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.input {
  height: 58px;
}
.input,
.comment {
  border-radius: 12px;
  padding-left: 18px;
  width: 515px;
  background: #f7f7f7;
  border: none;
  display: flex;
  justify-content: center;
}
.comment {
  height: 82px;
  padding-top: 18px;
}

.input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6c717b;
}
.btn {
  border-radius: 200px;
  padding: 16px 60px;
  width: 166px;
  height: 56px;
  border: none;
  background: #e44848;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
  margin-top: 24px;
}
.message {
  color: #d32f2f;
  font-size: 12px;
}
.btnBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
