.camperItem {
  border: 1px solid #dadde1;
  border-radius: 20px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.imgBox {
  width: 292px;
}
.img {
  border-radius: 10px;
  width: 292px;
  height: 320px;
  object-fit: cover;
  object-position: 85% 60%;
}
.info {
  display: flex;
  flex-direction: column;
}
.nameAndPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.priceBox {
  display: flex;
  flex-direction: row;
  gap: 14px;
}
.name {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 350px;
  overflow: hidden;
}
.name,
.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #101828;
}
.priceBox {
  display: flex;
  align-items: center;
}
.ratingAndLocation {
  display: flex;
  flex-direction: row;
  gap: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
  margin-top: 8px;
}
.descr {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
  margin-top: 24px;
  width: 500px;
}
.btn {
  background: transparent;
  border: none;
  transition: color 0.3s;
}
.btnFavorite {
  fill: #e44848;
}

.icon {
  width: 25px;
  height: 22px;
  fill: #101828;
}
.equipment {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 391px;
  margin-top: 24px;
}
.equipmentItem {
  display: flex;
  flex-direction: row;
  gap: 7px;
  border-radius: 100px;
  padding: 12px 18px;
  background: #f2f4f7;
  align-items: center;
  justify-content: center;
}
.equipmentIcon {
  width: 20px;
  height: 20px;
}
.infoContainer {
  display: flex;
  flex-direction: column;
}
.showMore {
  border-radius: 200px;
  width: 166px;
  height: 56px;
  background: #e44848;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
  border: none;
  margin-top: auto;
  align-self: flex-start;
}
