.nav {
  display: flex;
  flex-direction: row;
  gap: 32px;
  width: 100%;
}
.navLink {
  font-weight: 500;
  font-size: 16px;
  color: #101828;
}
.navLink:focus,
.navLink:hover {
  color: #d84343;
  transition: linear 2ms;
}

.activeLink {
  color: #d84343;
}
