.form {
  display: flex;
  flex-direction: column;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6c717b;
}
.inputLocation {
  border-radius: 12px;
  padding: 18px 218px 18px 20px;
  background: #f7f7f7;
  margin-top: 14px;
}
.filters {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
  margin-top: 40px;
}
.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
}
